# Conditional Statements in Python

## 1. If Statement

In [1]:
a = 10
b = 20
a == b

False

In [2]:
a = 10
b = 20
if a == b:
    print ('Yes')
else:
    print('No')

No

In [3]:
num = 5
if num > 0:
    print(num, "is a positive number.")
print("This statement is true.")

5 is a positive number.
This statement is true.

In [4]:
a = 25
b = 170
if b > a:
  print("b is greater than a")

b is greater than a

## 2. If Else Statement

In [5]:
a = 10
b = 20
c = 30
if (a+b)/ c == 1 and c - b- a == 0:
    print('Yes')
else:
    print('No')

Yes

In [6]:
num = 5
if num >= 0:
    print("Positive or Zero")
else:
     print("Negative number")

Positive or Zero

## 3. If Elif Else Statement

In [7]:
a = 10
b = 11
c = 10
if a == b:
    print ('First condition is true')
elif a == c:
    print ('Second condition is true')
else:
    print ('Nothing is true. Existence is pain')

Second condition is true

In [8]:
num = 7
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

## 4. Nested IF Statement

In [9]:
num = 8
if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

In [10]:
price=100
quantity=10
amount = price*quantity
if amount > 200:
    if amount >1000:
        print("The amount is greater than 1000")
    else:
        if amount < 800:
            print("The amount is between 800 and 1000")
        elif amount < 600:
            print("The amount is between 600 and 1000")
        else:
            print("The amount is between 400 and 1000")
elif amount == 200:
    print("Amount is 200")
else:
    print("Amount is less than 200")

The amount is between 400 and 1000

## 5. Short Hand if statement

In [11]:
i=15
# One line if statement
if i>11 :
    print ('i is greater than 11')

i is greater than 11

## 6. Short Hand if-else statement

#### single line if-else statement

In [12]:
a = 3
b = 5
print("A") if a > b else print("B")

B

#### single line if-else statement, with 3 conditions

In [13]:
a = 3
b = 5
print("A is greater") if a > b else print("=") if a == b else print("B is greater")

B is greater

## for loops

In [14]:
dog = ['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']]
for i in dog:
    print(i)

Freddie
9
True
1.1
2001
['bone', 'little ball']

In [15]:
for i in dog:
    print(i)

Freddie
9
True
1.1
2001
['bone', 'little ball']

In [16]:
numbers = [1, 5, 12, 91, 102]
for i in numbers:
    print (i * i)

1
25
144
8281
10404

## Iterating through strings

In [18]:
my_list = "Hello World"
for i in my_list:
    print(i)

H
e
l
l
o

W
o
r
l
d

## Iterating through range () objects

In [20]:
my_list = range(10)
for i in my_list:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
my_list = range(0,10,2)
for i in my_list:
    print(i)

0
2
4
6
8

In [22]:
my_list = range(1,10,2)
for i in my_list:
    print(i * i * i)

1
27
125
343
729

In [23]:
my_list = [1, 5, 12, 91, 102]
my_list_length = len(my_list)
for i in range(0,my_list_length):
    print(i, my_list[i] * my_list[i])

0 1
1 25
2 144
3 8281
4 10404

## For loop within a for loop – Nested for loop

In [24]:
my_movies = [['How I Met Your Mother', 'Friends', 'Silicon Valley'],
            ['Family Guy', 'South Park', 'Rick and Morty'],
            ['Breaking Bad', 'Game of Thrones', 'The Wire']]

In [25]:
for sublist in my_movies:
    for movie_name in sublist:
        char_num = len(movie_name)
        print("The title " + movie_name + " is " + str(char_num) + " characters long.")

The title How I Met Your Mother is 21 characters long.
The title Friends is 7 characters long.
The title Silicon Valley is 14 characters long.
The title Family Guy is 10 characters long.
The title South Park is 10 characters long.
The title Rick and Morty is 14 characters long.
The title Breaking Bad is 12 characters long.
The title Game of Thrones is 15 characters long.
The title The Wire is 8 characters long.

In [26]:
for sublist in my_movies:
    for movie_name in sublist:
        char_num = len(movie_name)
print("The title " + movie_name + " is " + str(char_num) + " characters long.")

The title The Wire is 8 characters long.

In [27]:
for sublist in my_movies:
    for movie_name in sublist:
        char_num = len(movie_name)
        print("The title " + movie_name + " is " + str(char_num) + " characters long.")

The title How I Met Your Mother is 21 characters long.
The title Friends is 7 characters long.
The title Silicon Valley is 14 characters long.
The title Family Guy is 10 characters long.
The title South Park is 10 characters long.
The title Rick and Morty is 14 characters long.
The title Breaking Bad is 12 characters long.
The title Game of Thrones is 15 characters long.
The title The Wire is 8 characters long.

In [28]:
for sublist in my_movies:
    for movie_name in sublist:
        char_num = len(movie_name)
    print("The title " + movie_name + " is " + str(char_num) + " characters long.")

The title Silicon Valley is 14 characters long.
The title Rick and Morty is 14 characters long.
The title The Wire is 8 characters long.

## If statement within a for loop

In [29]:
for i in range (20):
    if i % 3 == 0 and i % 5 == 0:
        print('fizzbuzz')
    elif i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('buzz')
    else:
        print ('-')

fizzbuzz
-
-
fizz
-
buzz
fizz
-
-
fizz
buzz
-
fizz
-
-
fizzbuzz
-
-
fizz
-

## Break

In [30]:
for i in range(0, 10000000, 137):
    if len(str(i)) == 7:
        print(i)
        break

1000100

## 1 Line Breaks Matter:
### implicit line joining example

In [31]:
my_movies = ['How I Met Your Mother',
             'Friends',
             'Silicon Valley', 
             'Family Guy',
             'South Park']

### one line – more statements

In [32]:
print('Hi');print('Hello');print('How are you')

Hi
Hello
How are you

### one statement in more lines — print(‘Hello’)

In [33]:
print
('How \
are you\
 Im very good ')

'How are you Im very good '

## 2 Indentations Matter

In [34]:
down = 0
up = 100
for i in range (1,10):
    guessed_age = int(up+down)/2
    answer = input('Are you '+str(guessed_age)+' years old?')
    if answer == 'correct' :
        print('Nice')
        break
    elif answer == 'less':
        up = guessed_age
    elif answer == 'more':
        down = guessed_age
    else:
        print('wrong answer')

Are you 50.0 years old?correct
Nice

In [35]:
# This is a comment before my for loop.
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [36]:
my_meaningful_variable = 100

In [37]:
down = 0
up = 100

for i in range (1,10):
    guessed_age = int(up+down)/2
    answer = input('Are you '+str(guessed_age)+' years old?')
    
    if answer == 'correct' :
        print('Nice')
        break
    elif answer == 'less':
        up = guessed_age
    elif answer == 'more':
        down = guessed_age
    else:
        print('wrong answer')

Are you 50.0 years old?correct
Nice

In [38]:
number_x = 10
number_y = 100
number_mult = number_x * number_y
number_mult

1000

In [39]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
for i in <collection>:
    <loop body>

In [40]:
for i in range(10):  # collection of numbers from 0 to 9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
for i in range(10):  # numbers from 0-9
    if i % 2 == 0:  # is divsible by 2? (even number)
        print(i) # then print.

0
2
4
6
8

In [42]:
names = ["Bill Gates", "Steve Jobs", "Mark Zuckerberg"] # create our list
for name in names:  # load our list of names and iterate through them
    print(name)

Bill Gates
Steve Jobs
Mark Zuckerberg

In [43]:
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg"]  # create our list
for name in names:  # load our list of names and iterate through them
    if "B" in name:  # does the name include 'B'?
        print(name)

Bill Gates
Billie Eilish

In [44]:
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Ratan TATA"]
namesWithB = []
for name in names:
    if "B" in name: 
        namesWithB.append(name) # add this element to this array.
print(namesWithB)

['Bill Gates', 'Billie Eilish']

In [ ]:
newlist = [<expression> for <loop variable> in <list> (if condition)]

In [45]:
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Ratan TATA"]
namesWithB = [name for name in names if "B" in name]
print(namesWithB)

['Bill Gates', 'Billie Eilish']

In [46]:
numbers = [i for i in range(10)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
numbers = [i for i in range(0,10,2)]
print(numbers)

[0, 2, 4, 6, 8]

In [ ]:
while <condition>:
    <loop body>

In [48]:
n = 0
while n < 10: # while n is less than 10,
    print(n) # print out the value of n 
    n += 1

0
1
2
3
4
5
6
7
8
9

In [49]:
numbers = [0, 5, 10, 6, 3]
length = len(numbers) # get length of array. 
n = 0
while n < length: # loop condition
    print(numbers[n])
    n += 1

0
5
10
6
3

In [50]:
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Ratan TATA"]
for name in names:
    if name == "Mark Zuckerberg":  
        print("loop exit here.")
        break  # end this loop if condition is true.
    print(name)
print("Out of the loop")

Bill Gates
Billie Eilish
loop exit here.
Out of the loop

In [51]:
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Ratan TATA"]  
for name in names:
    if name == "Mark Zuckerberg":
        print("Skipping this iteration.")
        continue  # Skip iteration if true.
    print(name)
print("Out of the loop")

Bill Gates
Billie Eilish
Skipping this iteration.
Ratan TATA
Out of the loop

In [52]:
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Ratan TATA"]
for name in names:
    if name == "Mark Zuckerberg":
        print("Just passing by...")
        pass  # Move on with this iteration
    print(name)
print("Out of the loop")

Bill Gates
Billie Eilish
Just passing by...
Mark Zuckerberg
Ratan TATA
Out of the loop

In [ ]:
# for 'for' loops
for i in <collection>: 
    <loop body>
else: 
    <code block> # will run when loop halts.
# for 'while' loops
while <condition>:
    <loop body>
else:
    <code block> # will run when loop halts

In [53]:
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Ratan TATA"]
print("Else won't run here.")
for name in names:
    if name == "Mark Zuckerberg":
        print("Loop halted due to break")
        break  # Halt this loop
    print(name)
else: # this won't work because 'break' was used. 
    print("Loop has finished")

print("\nElse statement will run here:")
for name in names: 
    print(name)
else: # will work because of no 'break' statement
    print("second Loop has finished")

Else won't run here.
Bill Gates
Billie Eilish
Loop halted due to break

Else statement will run here:
Bill Gates
Billie Eilish
Mark Zuckerberg
Ratan TATA
second Loop has finished

# The End!!!