## Two examples for each module.

## 1. while loop

In [1]:
i = 5
while i < 9:
  print(i)
  i += 1

5
6
7
8

In [2]:
count = 9
while count > 3:
   print ('The count is:', count)
   count = count - 1

The count is: 9
The count is: 8
The count is: 7
The count is: 6
The count is: 5
The count is: 4

## 2. for loop

In [3]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [4]:
for x in range(0, 8, 2):
  print(x)

0
2
4
6

In [5]:
city = "Mumbai", "Banglore", "Chennai", "Hyderabad"
for x in city:
  print(x)

Mumbai
Banglore
Chennai
Hyderabad

## 3. if else

In [6]:
i = 20
if i < 15:
    print("i is smaller than 15")
else:
    print("i is greater than 15")

i is greater than 15

In [7]:
x = 12

if x%2 == 0:
    print('x is an even number')
else:
    print("x is an odd number")

x is an even number

## 4. if elif else

In [8]:
age = 22
gender = "Male"

if age > 18 and gender == 'Male':
    print ("Eligible for Army")
elif age > 18 and gender == 'Female':
    print ("Eligible for Airforce")
else :
    print("Not Eligible for any criteria")

Eligible for Army

In [9]:
percentage = int(input("Enter your percentage : "))

if percentage >= 50 and percentage < 65:
    print ('Your grade is C')
elif percentage >= 65 and percentage < 80:
    print ('Your Grade is B')
elif percentage >= 80:
    print ('Your Grade is A')
else :
    print ('You Are FAIL')

Enter your percentage : 85
Your Grade is A

In [10]:
number = [1,2,3,4,5,6,7,8,9,1.1,2.2,3.3,4.4,10,11,12,13,14,15]
even_num=[]
odd_num=[]
float_num=[]

for i in number:
    if i%2==0:
        even_num.append(i)
    elif i%2==1:
        odd_num.append(i)
    else :
        float_num.append(i)
        
print('Even No: ', even_num)
print('Odd No: ', odd_num)
print('float No: ', float_num)

Even No:  [2, 4, 6, 8, 10, 12, 14]
Odd No:  [1, 3, 5, 7, 9, 11, 13, 15]
float No:  [1.1, 2.2, 3.3, 4.4]

## 5. break

In [11]:
for i in range (1, 10):
    if i == 8:
        break
    print (i)

1
2
3
4
5
6
7

In [12]:
def boy(name):
    for i in name:
        if i == 's':
            break
        print (i)
boy("roahn is good boy")

r
o
a
h
n

i

## 6. continue

In [13]:
for i in range (1,10):
    if i == 4 or i == 5:
        continue
    print (i)

1
2
3
6
7
8
9

In [14]:
def boy(name):
    for i in name:
        if i == 's':
            continue
        print (i)
boy("roahn is good boy")

r
o
a
h
n

i

g
o
o
d

b
o
y

## 7. user defined functions without for loop, if loop

In [15]:
A = int(input("Enter your value1: "))
B = int(input("Enter your value2: "))
Sum= A+B

print(Sum)

Enter your value1: 10
Enter your value2: 15
25

In [16]:
def my_num(x, y):
   both = [x + y]
   return both

x = int(input ("enter your num1 : "))
y = int(input ("enter your num2 : "))

print("The sum is =", my_num(x,y))

enter your num1 : 10
enter your num2 : 15
The sum is = [25]

In [17]:
def cube(x):
    y = x**3
    return y
b = int(input('Enter Your No : '))
print ('Your Input No Cube is: ',cube(b))

Enter Your No : 15
Your Input No Cube is:  3375

## 8. user defined functions with for loop

In [18]:
def find_factors(x):
    factor_list=[]
    for i in range (1,x+1):
        if x%i==0:
            factor_list.append(i)
    return factor_list
a = int(input('Enter your no: '))
print (a, find_factors(a))

Enter your no: 1000
1000 [1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 1000]

In [19]:
city = "Mumbai", "Banglore", "Chennai", "Hyderabad"
for x in city:
  print(x)

Mumbai
Banglore
Chennai
Hyderabad

In [20]:
name = input("Enter your name: ")

for x in name:
    print(x)

Enter your name: Shanu
S
h
a
n
u

## 9. user defined functions with for loop and if condition

In [21]:
def base():
    for i in range (0,10):
        print(i)
print(base())

0
1
2
3
4
5
6
7
8
9
None

In [22]:
def identify_prime_numbers(x):
    prime_list=[]
    
    for i in range (1, x+1):
        if x%i==0:
            prime_list.append(i)
        
        elif x%i==1:
            prime_list.append(i)
            return "Prime No"
        else:
            return "Not Prime"
c = int(input('Enter your no: '))
print ('Your No is:', identify_prime_numbers(c))

Enter your no: 13
Your No is: Prime No

In [23]:
word = input('Customer Name: ')
def validateCustomerName(word):
    while True:
        if all(x.isalpha() or x.isspace() for x in word):
            return True

        else:
            print('invalid name')
            return False

validateCustomerName(word)

Customer Name: Shanu

True

In [24]:
#Input a number and check if the number is prime or composite number
n= int(input("Enter any number:"))
if(n ==0 or n == 1):
    printf(n,"Number is neither prime nor composite")
elif n>1 :
    for i in range(2,n):
        if(n%i == 0):
            print(n,"is not prime but composite number")
            break
    else:
        print(n,"number is prime but not composite number")
else :
    print("Please enter positive number only ")

Enter any number:13
13 number is prime but not composite number

## 10. for loop with in operator

In [25]:
for i in range (1,10,1):
    if i%2==0:
        print('Even No', i)

Even No 2
Even No 4
Even No 6
Even No 8

## 11. for loop with if statement

In [26]:
name = input(print('Enter Your Name: '))
for i in name :
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        break
    print(i)

Enter Your Name:
NoneShanu
S
h

In [27]:
word = "India is the Best"
if 'are' not in word:
    print("No 'are found'")

No 'are found'

In [28]:
num_list = []
for i in range (2,20,2):
    if i%2==0:
        num_list.append(i)
print(num_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## 12. for loop with not in operator

In [29]:
num_list = []
for i in range (2,20,2):
    if i%2==1:
        num_list.append(i)
print(num_list)

[]

In [30]:
plant = ['Tree', 'Air', 'Shelter', 'Human']
harmful = 'Human'

for x in harmful:
    if harmful not in plant:
        print(plant)
    else:
        print(harmful)

Human
Human
Human
Human
Human

## 13. if with in operator

In [31]:
climate = ['Spring', 'Rainy', 'Summer', 'Winter']
z = ('Spring')

if z in climate:
    print ('Expected Weather')
else:
    print ('Unexpected Weather')

Expected Weather

In [32]:
maha = 'Eknath Shinde to take oath as Chief Minister of Maharashtra'
if "Minister" in maha:
    print('YES')
else:
    print('NO')

YES

In [33]:
animal = ['Tiger', 'Cat', 'Lion', 'Dog', 'Horse', 'Elephant']
if 'Cat' in animal:
    print('Animal Found')
else:
    print('Animal not Found')

Animal Found

## 14. if with not in opearator

In [34]:
maha = 'Eknath Shinde to take oath as Chief Minister of Maharashtra'
if "Prime" in maha:
    print('YES')
else:
    print('NO')

NO

In [35]:
animal = ['Tiger', 'Cat', 'Lion', 'Dog', 'Horse', 'Elephant']
if 'Man' in animal:
    print('Animal Found')
else:
    print('Animal not Found')

Animal not Found

# The End!!!